extends baseEmail
block content 
    // CONTENT
    p Selam #{firstName},
    p Şifreni mi unuttun? aşağıdaki linke tıklayarak şifre ve şifre tekrar kısımlarını gir. Anahtar: #{url}.
    table.btn.btn-primary(role='presentation', border='0', cellpadding='0', cellspacing='0')
        tbody
            tr
                td(align='left')
                    table(role='presentation', border='0', cellpadding='0', cellspacing='0')
                        tbody
                            tr
                                td
                                    a(href=`${url}`, target='_blank') Şifreni Yenile
    p Eğer şifreni unutmadıysan bu mail'i ciddiye alma.
    p - PARADOKS EGITIM KURUMU.

