footer.footer
    .footer__wrapper
        .footer__logo
            img(src='img/logo.png' alt='')
        .footer__social
            a(href='')
                svg.footer__social--icon
                    use(xlink:href='img/sprite.svg#icon-facebook2')
            a(href='')
                svg.footer__social--icon
                    use(xlink:href='img/sprite.svg#icon-linkedin')
            a(href='')
                svg.footer__social--icon
                    use(xlink:href='img/sprite.svg#icon-twitter')
            a(href='')
                svg.footer__social--icon
                    use(xlink:href='img/sprite.svg#icon-instagram')
    .footer__wrapper
        .footer__location
            img.footer__location-map(src="./img/location.png")
            .location-adress
                | Levent Mah, Büyükdere Cd. No:112, 34394 Üsküdar/İstanbul
    .footer__copy
        | Copyright © 2022 - Tüm hakları saklıdır. This project built and developed by ekipa.canevski@gmail.com &copy;
