section.information
    .school__logo
        img.school__logo-img(src='img/logo.png' alt='')
    h3.school__name Paradoks Eğitim Kurumları
    .school__info
        svg.school__info--icon
                use(xlink:href='img/sprite.svg#icon-paper-plane')
        .school__info--detail
            .school__info--detail-name Email
            .school__info--detail-desc youremail@gmail.com
    .school__info
        svg.school__info--icon
            use(xlink:href='img/sprite.svg#icon-phone')
        .school__info--detail
            .school__info--detail-name Telefon
            .school__info--detail-desc 0(000) 000 00 00
    a.school__contactUs.btn.btn-corner.ml-m(href="/iletisim") Bize Ulaşın
    a.btn.btn-login.btn-corner(href='/login')
        svg.school__info--icon
            use(xlink:href='img/sprite.svg#icon-login')