nav.navbar
    ul.navbar__items
        li.navbar__item
            a.navbar__tag.tag.active(href='/') Ana Sayfa
        li.navbar__item
            a.navbar__tag.tag(href='#') Hakkımızda
        li.navbar__item
            a.navbar__tag.tag(href='#') Derslerimiz
        li.navbar__item
            a.navbar__tag.tag(href='#') Öğretmenlerimiz
        li.navbar__item
            a.navbar__tag.tag(href=`/duyurular?page=1&limit=5`) Duyurular
        li.navbar__item
            a.navbar__tag.tag(href='/iletisim') İletişim
        li.navbar__item
            a.navbar__tag.tag(href='/galeri') Galeri