extends base
block content
    .text-center
        h2.heading-secondary.mt-m.text-center.bolder.splash
            | Bize Yazın
    section.contact
        .contact__boxes
            .contact__box
                svg.contact__box--logo
                    use(xlink:href='/img/sprite.svg#icon-phone')
                .contact__box--title TELEFON NUMARASI
                .contact__box--detail +90-000-00-00
            .contact__box
                svg.contact__box--logo
                    use(xlink:href='/img/sprite.svg#icon-location')
                .contact__box--title KONUM
                .contact__box--detail
                    | Levent Mah, Büyükdere Cd. No:112, 363431 Üsküdar/İstanbul
            .contact__box
                .contact__box--logo-social
                    a(href='')
                        svg
                            use(xlink:href='/img/sprite.svg#icon-facebook2')
                    a(href='')
                        svg
                            use(xlink:href='/img/sprite.svg#icon-linkedin')
                    a(href='')
                        svg
                            use(xlink:href='/img/sprite.svg#icon-twitter')
                    a(href='')
                        svg
                            use(xlink:href='/img/sprite.svg#icon-instagram')
            .contact__box
                svg.contact__box--logo
                    use(xlink:href='/img/sprite.svg#icon-mail')
                .contact__box--title E-MAIL
                .contact__box--detail loremipsum@gmail.com
        .contact__form
            .contact__form--title.text-center Mesajınızı Yazın
            .contact__form--message= msg
            form#contact(method='POST' action='iletisim')
                .contact__form--group
                    label İsim
                    input(type='text' id="name" required) 
                .contact__form--group
                    label Email
                    input(type='text' id="email" required)
                .contact__form--group
                    label Konu
                    input(type='text' id="subject" required)
                .contact__form--group
                    label Mesaj
                    textarea(type='text' id="message" required)
                button.contact__form--button GÖNDER
