extend admin-base
block content
    .admin__refactor
        .text-center
            h2.heading-secondary.bolder.mb-s.splash
                | Mevcut Şifremi Güncelle
        form.comments#updateMyPassword
            .comments__group
                label.comments__group--label Mevcut Şifreniz
                input#passwordCurrent.comments__group--input(type='password', placeholder='••••••••', required)
            .comments__group
                label.comments__group--label Yeni Şifrenizi Girin
                input#password.comments__group--input(type='password', placeholder='••••••••', required)
            .comments__group
                label.comments__group--label Yeni Şifre Tekrar
                input#passwordConfirm.comments__group--input(type='password', placeholder='••••••••', required)
            button#btn-save.btn.btn-corner KAYDET