.contact {
  display: flex;
  background-color: var(--color-grey-light-4);
  justify-content: center;
  align-content: center;
  align-items: center;
  @include respond(tab-port) {
    flex-direction: column;
    margin-top: 3rem;
  }

  &__boxes {
    flex: 40%;
    flex-shrink: 2;
    display: grid;
    grid-template-rows: 24rem 24rem;
    grid-template-columns: 24rem 24rem;
    justify-content: flex-end;
    grid-gap: 2rem;
    position: relative;
    left: 14rem;

    @include respond(tab-port) {
      left: 0;
      flex: 100%;
      padding: 5rem 0;
      order: 1;
    }

    @include respond(phone-large) {
      grid-template-rows: 20rem 20rem;
      grid-template-columns: 20rem 20rem;
    }
  }

  &__box {
    background-color: white;
    text-align: center;
    padding: 0rem;
    border-radius: 4px;
    &--logo {
      fill: var(--color-secondary-1);
      height: 7.5rem;
      width: 7.5rem;
      @include respond(phone-large) {
        font-size: 3.5rem;
      }

      &-social {
        color: var(--color-secondary-1);
        font-size: 8rem;
        margin-top: 1rem;
        @include respond(phone-large) {
          font-size: 6.5rem;
          margin-top: 0rem;
        }
        & a {
          color: transparent;
        }
        & svg {
          fill: var(--color-secondary-1);
          width: 9rem;
          height: 8rem;
        }
      }
    }

    &--title {
      font-size: 2rem;
      margin-top: 1.2rem;
      font-weight: 400;
      @include respond(phone-large) {
        font-size: 1.5rem;
        font-weight: 600;
      }
    }

    &--detail {
      font-size: 1.6rem;
      margin-top: 1rem;
      font-weight: 300;
      @include respond(phone-large) {
        font-size: 1.2rem;
        font-weight: 400;
      }
    }
  }

  &__form {
    flex: 60%;
    background-color: var(--color-secondary-1);
    margin: 10rem;
    align-self: flex-start;
    padding: 10rem;
    padding-right: 4rem;

    border-radius: 4px;

    @include respond(tab-port) {
      left: 0;

      margin: 0 auto 5rem auto;
    }

    @include respond(phone-large) {
      margin: 0;
      padding: 6rem;
      align-self: inherit;
      width: 90%;
    }
    @include respond(phone-medium) {
      padding: 2.3rem;
    }

    &--title {
      margin-bottom: 4rem;
      font-size: 7rem;
      color: white;

      font-weight: 600;
      @include respond(phone-large) {
        font-size: 4rem;
      }
      @include respond(phone-medium) {
        font-size: 2.3rem;
      }
    }
    &--message {
      font-size: 1.3rem;
      color: white;
    }
    &--group {
      width: 50rem;
      @include respond(phone-large) {
        width: 93%;
        margin: 0 auto;
      }
      & label {
        font-size: 1.3rem;
      }
      & input,
      & textarea {
        width: 100%;
        margin-bottom: 3rem;
        padding: 1.2rem;
        font-size: 1.2rem;
        font-weight: 200;
        font-family: "Poppins", sans-serif;
        &:focus {
          outline: none;
        }
      }
      & textarea {
        height: 14rem;
      }
    }
    &--button {
      padding: 1rem 2rem;
      outline-style: none;
      border: none;
      border-radius: 3px;
      background-color: white;
      color: var(--color-secondary-1);
      font-weight: bold;
      transition: all 0.1s;
      &:hover {
        cursor: pointer;
        box-shadow: 3px 3px #00000088;
      }
      &:active {
        transform: translateY(1.9px);
      }
    }
  }
}
