.navbar {
  background-color: var(--color-primary-1);
  &__items {
    align-items: center;
    display: flex;
    list-style-type: none;
    margin-left: 4rem;
    height: 8vh;
    @include respond(tab-port) {
      margin-left: 2rem;
      height: auto;
    }
    @include respond(phone-large) {
      margin-left: 0;
    }
  }
  &__item {
    padding: 2rem 2.2rem;
    font-size: 1.4rem;
    font-weight: 400;
    @include respond(phone-large) {
      font-size: 1rem;
      padding: 1rem 1.3rem;
    }
    @include respond(phone-large) {
      padding: 1rem 0.5rem;
    }
    @include respond(phone-medium) {
      font-size: 0.8rem;
    }
  }
  &__tag:hover {
    color: var(--color-green-light-1);
    transition: color 0.4s;
  }
}
